body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.favButton{
  background-color: rgba(136, 136, 136, 0.116);
  padding: 10px;
  border: none;
  width: 100%;
  cursor: pointer;
}

h1{
  text-align: center;
}

nav{
  display: flex;
  width: 80vw;
  justify-content: flex-start;
  padding: 1rem;
}

a{
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
a:hover{
  color: rgb(136, 136, 136);
} 

footer {
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding: 10px 10vw;
  position: relative;
  bottom: 0;
  margin-top: 2rem;
}
footer > img{
  width: 30%;
  aspect-ratio: 4/1;
  margin: 0;
}
footer > div {
  width: 30%;
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  align-items: center;
}
footer > div > img{
  width: 10%;
  aspect-ratio: 1/1;
  margin: 0;
}
footer > p{
  margin: 0;
  padding-top: 0.7rem;
}


.card-grid{
  display: flex;
  justify-content: center;
  gap: 1rem;
  width: 90%;
  height: auto;
  flex-wrap: wrap;
  margin: 0 auto;
}

@media (max-width: 800px) {
  .card-grid {
    flex-direction: column;
    align-items: center;
    margin: 0;
  }
}